body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    text-align: center;
}

.search-bar {
    margin-bottom: 20px;
}

.search-bar input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-bar button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.article {
    width: calc(100% - 20px);
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    display: flex;
}

.article-content {
    display: flex;
    align-items: center;
}

.article img {
    width: 100px;
    height: auto;
    border-radius: 5px;
    margin-right: 20px;
}

.article-info {
    width: calc(100% - 120px); /* Mengatur lebar untuk menyesuaikan gambar */
}

.article-info h2 {
    margin-top: 0;
}

.action-buttons button {
    padding: 5px 10px;
    margin-right: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.action-buttons button:hover {
    background-color: #0056b3;
}
